
<div class="sidebar">
  <div class="box">
    <h2><%= t("users.already_have_account")%></h2>
    <p style="line-height:20px;">
      <%= render :partial => "devise/shared/links" %>
    </p>
  </div>
</div><div class="content">
  <div class="box">
    <h2>重新发送未解锁</h2>

    <%= simple_form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
      <%= f.error_notification %>

      <div class="inputs">
        <%= f.input :email, :required => true %>
      </div>

      <div class="actions">
        <%= f.button :submit, "重新发送未解锁", :class => "btn primary" %>
      </div>
    <% end %>
  </div>
</div>
