


<% if current_user %>
  <ul>
    <li <%= raw('class="active"') if controller_name == 'dashboard' %>><%= link_to "我的主页", '/' %></li>
    <li class="dropdown <%= raw('active') %>" data-dropdown="dropdown" >
      <a href="#" class="dropdown-toggle">系统管理</a>
    </li>
    <li class="dropdown <%= raw('active')  %>" data-dropdown="dropdown" >
      <a href="#" class="dropdown-toggle">管理</a>
    </li>
  
  </ul>
  <div class="pull-right">
    <ul>
      <li><a href="#"><%= current_user.try(:email) %></a></li>
      <li><a data-method="delete" href="/users/logout"><span class="label important">退出</span></a></li>
    </ul>
  </div>
<% else %>
  <%= render_list :class => "nav secondary-nav", :id => "userbar" do |li|
    li << link_to( t("common.register"),new_user_registration_path)
    li << link_to( t("common.login"), new_user_session_path )
  end %>
<% end %>