
<%= form_for(@album) do |f| %>
  <fieldset>
    <legend>新建相册</legend>
    <%= render "shared/error_messages", :target => @album %> 
    <div class="clearfix"><%= f.label :name %>
      <div class="inputs"><%= f.text_field :name , :required => true%></div>
    </div>
    <div class="clearfix"> <%= f.label :question %>
      <div class="inputs"> <%= f.text_field :question , :required => true %> </div>
    </div>
    <div class="clearfix"> <%= f.label :answer %>
      <div class="inputs"> <%= f.text_field :answer , :required => true %></div>
    </div>
    <div class="clearfix"> <%= f.label :password %>
      <div class="inputs"><%= f.text_field :password , :required => true%> </div>
    </div>
    <div class="actions">
      <%= f.submit "提交信息", :class => "btn primary" %>
    </div>
  </fieldset>
<% end %>
