<div class="content">
  <div class="box">
    <%= form_tag(validate_album_path, :remote =>true, :method =>:post)  do %>
    <%= hidden_field_tag :id , @id %>
      <fieldset>
        <div id="error_messages" style="color: red">  </div>
        <%  if @album.permiss == Common::QUESTION_PERMISS %>
        <div class="clearfix"> <label>问题: </label>
            <div class="input">
               <%= @album.question %>
            </div>
          </div>
        <div class="clearfix"> <label>答案: </label>
            <div class="input"> <%= text_field_tag :answer  %></div>
          </div>
         <% elsif  @album.permiss == Common::PASS_PERMISS %>
           <div class="clearfix"> <label>请输入密码: </label>
            <div class="input"><%= password_field_tag :password %> </div>
          </div>
        <% end %>
        <div class="clearfix"> <label></label>
          <div class="input"> <%= submit_tag "提交", :class => "btn primary" %></div>
          </div>
      </fieldset>
    <% end %>
  </div>
</div>