<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @album.name %>
</p>

<p>
  <b>Question:</b>
  <%= @album.question %>
</p>

<p>
  <b>Answer:</b>
  <%= @album.answer %>
</p>

<p>
  <b>Password:</b>
  <%= @album.password %>
</p>


<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
