<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @photo.name %>
</p>

<p>
  <b>Upload person:</b>
  <%= @photo.upload_person %>
</p>

<p>
  <b>Upload time:</b>
  <%= @photo.upload_time %>
</p>

<p>
  <b>Url:</b>
  <%= @photo.url %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
